h1 {
    color: white;
}

#job-listings {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: black;
  }
  
  .job-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .job-card img {
    margin-right: 1.5rem;
  }
  
  .job-card h2 {
    margin-bottom: 0.5rem;
  }
  
  .job-card p {
    font-size: 0.875rem;
    color: hsl(200, 15%, 8%);
  }
  
  .job-card button {
    margin-left: auto;
  }
  